*{
    font-family: Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: x-large;
    }
  
html {
  height:100%;
}
    
body {
  margin:0;
}
p{
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.bg {
  animation:slide 15s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(0, 168, 232) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
    
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
    
.bg3 {
  animation-duration:5s;
}
   
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body {
  width: 1055px;
  height: 1870px;
  margin: 2px;
}
  
.boite {
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 140px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

#date {
background-color: rgba(53, 58, 59, .5);
height: 50px;
text-align: center;
}

#meteo {
background-color: rgba(53, 58, 59, .5);
margin: 10px;
height: 400px;
text-align: center;
}

#cantine {
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 250px;
  text-align: center;
}

#News {
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 400px;
  text-align: center;
  color: white;
}

#profsabs {
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 250px;
  text-align: center;
  color: white;
}

#vacances {
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 140px;
  text-align: center;
  color: white;
}

#info{
  background-color: rgba(53, 58, 59, .5);
  margin: 10px;
  height: 250px;
  text-align: center;
  color: white;
}
